Repository python-discord/site: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock, ruff

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
  - repo: local
    hooks:
      - id: uv-lock
        name: uv lock
        description: Checks the validity of the uv.lock file.
        entry: uv lock
        language: system
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        pass_filenames: false
      - id: ruff
        name: ruff
        description: This hook runs ruff within our project's environment.
        entry: uv run --frozen ruff check --force-exclude
        language: system
        types: [python]

Remove enable-beta-ecosystems from dependabot config
  .github/dependabot.yml
Due: none

Update bot Python version requirement to 3.14
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/bot.md
Due: none

Bump django from 5.1.11 to 5.1.14
  pyproject.toml
  uv.lock
Due: uv-lock

Update Sponsors for 2025
  pydis_site/static/images/sponsors/orbstack.png
  pydis_site/templates/home/index.html
Due: none

Update Sponsors for 2025 (#1573)
  pydis_site/static/images/sponsors/orbstack.png
  pydis_site/templates/home/index.html
Due: none

Revise server roles and add new role descriptions
  pydis_site/apps/content/resources/server-info/roles.md
Due: none

Revise server roles and add new role descriptions (#1574)
  pydis_site/apps/content/resources/server-info/roles.md
Due: none

Update title URL for Two Scoops of Django resource
  pydis_site/apps/resources/resources/two_scoops_of_django.yaml
Due: none

Update title URL for Two Scoops of Django resource (#1576)
  pydis_site/apps/resources/resources/two_scoops_of_django.yaml
Due: none

Use Notion subdomain for privacy redirect
  pydis_site/apps/content/resources/privacy.md
Due: none

if __name__ == '__main__':
  pydis_site/apps/content/resources/guides/python-guides/if-name-main.md
Due: none

fix quotes
  pydis_site/apps/content/resources/guides/python-guides/if-name-main.md
Due: none

add other resources
  pydis_site/apps/content/resources/guides/python-guides/if-name-main.md
Due: none

Fixed the Animation Method using Translate
  db.sqlite3
  pydis_site/static/css/home/index.css
Due: none

Fixed wave-hero animation
  pydis_site/static/css/home/index.css
Due: none

Re-implimented the old wave-hero mechanism
  pydis_site/static/css/home/index.css
Due: none

Fix typo in a "Help Channels" chapter
  pydis_site/apps/content/resources/guides/pydis-guides/help-channel-guide.md
Due: none

Skip archiving single file upload
  .github/workflows/lint-test.yaml
Due: none

Set dependabot cooldown
  .github/dependabot.yml
Due: none

Replace gunicorn with waitress
  Dockerfile
  gunicorn.conf.py
  manage.py
  pydis_site/README.md
  pyproject.toml
  uv.lock
Due: uv-lock, ruff

Replace gunicorn with waitress (#1614)
  Dockerfile
  gunicorn.conf.py
  manage.py
  pydis_site/README.md
  pyproject.toml
  uv.lock
Due: uv-lock, ruff

Fix tags fetch for read-only filesystems
  pydis_site/apps/content/tests/test_utils.py
  pydis_site/apps/content/utils.py
Due: ruff

Fix tar path prefix in test_mocked_fetch
  pydis_site/apps/content/tests/test_utils.py
Due: ruff

Fix tags fetch for read-only filesystems (#1617)
  pydis_site/apps/content/tests/test_utils.py
  pydis_site/apps/content/utils.py
Due: ruff

Add AI usage disclosure guideline
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/commit-messages.md
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/contributing-guidelines.md
Due: none

Fix status embed to use single file artifact
  .github/workflows/status-embed.yaml
Due: none

Do not persist credentials from checkout
  .github/workflows/build-deploy.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/sentry-release.yaml
  .github/workflows/static-preview.yaml
Due: none

Prevent code injection via actions variables
  .github/workflows/static-preview.yaml
  .github/workflows/status-embed.yaml
Due: none

Pin GitHub actions
  .github/workflows/build-deploy.yaml
  .github/workflows/fixup-commit-blocker.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/sentry-release.yaml
  .github/workflows/static-preview.yaml
  .github/workflows/status-embed.yaml
Due: none

Remove gitpod instructions
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/sir-lancebot.md
Due: none

Add note on running on Apple Silicon
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/docker.md
Due: none

Refactor bot contributing docs
  pydis_site/apps/content/resources/guides/pydis-guides/contributing.md
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/bot.md
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/cloning-repository.md
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/creating-bot-account.md
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/docker.md
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/forking-and-cloning.md
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/forking-repository.md
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/installing-project-dependencies.md
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/obtaining-discord-ids.md
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/setting-test-server-and-bot-account.md
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/sir-lancebot.md
  pydis_site/apps/content/resources/guides/pydis-guides/contributing/site.md
  pydis_site/apps/content/resources/guides/python-guides/docker-hosting-guide.md
Due: none

Add image_hash filter list
  pydis_site/apps/api/migrations/0097_image_hash_filter_list.py
Due: ruff

Remove show-your-projects FAQ
  pydis_site/apps/content/resources/frequently-asked-questions.md
Due: none

Add image_hash filter list (#1628)
  pydis_site/apps/api/migrations/0097_image_hash_filter_list.py
Due: ruff

Replace update_or_create loop with bulk_update to fix N+1
  pydis_site/apps/home/views.py
Due: ruff

Add RepoAPIData TypedDict to tighten _get_api_data return type
  pydis_site/apps/home/views.py
Due: ruff

Pleasure style dictator
  pydis_site/apps/home/views.py
Due: ruff
